{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 100) %}
        {% do assets.addCss('theme://css/bootstrap.min.css', 99) %}
        {% do assets.addCss('theme://css/font-icons.css', 98) %}
        {% do assets.addCss('theme://css/sliders.css', 97) %}
        {% do assets.addCss('theme://css/style.css', 96) %}
        {% do assets.addCss('theme://css/responsive.css', 95) %}
        {% do assets.addCss('theme://css/spacings.css', 94) %}
        {}% do assets.addCss('theme://css/animate.css', 94) %}

    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery.min.js', 100) %}
    {% endblock %}
    {{ assets.js(bottom) }}

{% endblock head%}
</head>
<body id="top">

{% block header %}
  {% include 'partials/header.html.twig' %}
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}

{% endblock %}

{% block bottom %}
  {% block bottomjavascripts %}
        {% do assets.addJs('bootstrap.min.js') %}
        {% do assets.addJs('plugins.js') %}
        {% do assets.addJs('scripts.js') %}
    {% endblock %}
{% endblock %}

</body>
</html>
